@model HeartOfGold.ViewModels.ProfileViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "My Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="row center">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" style="margin-bottom: 0;">
                <h5 class="panel-style">Student Details</h5>
                <div class="form-group">
                    <label>Email:</label>
                    <label>@Model.Email</label>
                </div>
                <div class="form-group">
                    <label>Hello, <strong>@Model.Name @Model.Surname!</strong></label>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="margin-top:5px" />

@if (TempData["NoResults"] != null)
{
    <p class="lead">You currently have no active requests.</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <div class="row">
                        <div class="col-md-3 center">
                            <i class="fas fa-address-card" id="requestIcon"></i>
                            <p class="lead">My Requests</p>
                        </div>
                        <div class="col-md-9">
                            <ul class="list-group list-style" id="RequestList">
                                @*foreach output here over current student's requests*@
                                @foreach (var r in Model.Requests)
                                {
                                    <li class="list-group-item" style="margin-top: -1px;">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Date Created:</label>
                                                <label>@r.Date.ToString("dd MMM yyyy")</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Request Type:</label>
                                                <label>@Html.DisplayFor(m => r.Category.Name)</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Status:</label>
                                                <label class="status">@r.RequestStatus.Name</label>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin:0;"/>
}

@section scripts
    {

    @*Simple script to fetch all status lables into a nodelist, loop through their contents and set the colour accordingly.*@
    <script>

        const statusLabel = document.querySelectorAll('.status');
        statusLabel.forEach(function (current) {
            if (current.textContent === 'Open') {
                current.style.color = 'black';
            } else if (current.textContent === 'Successful') {
                current.style.color = 'green';
            } else {
                current.style.color = 'orange';
            }
            current.style.fontWeight = 700;
        });   
        
    </script>
    }

    @*<script>
        $(document).ready(function () {

        }        var check = function () {
                var count = $('#RequestList').children("li").length;
                if (count > 2) {
                    $('#RequestList:first').remove();
                }
            };
            check();
        })        
    </script>*@

