@model HeartOfGold.ViewModels.DonorHistoryViewModel

@{
    ViewBag.Title = "Donation History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Donor History for <span id="DonorName">@ViewBag.Donor</span></h3>
<p class="lead">
    View the donation history
</p>

@Html.HiddenFor(d => Model.Donor.Id, new { @id="DonorID"})

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="emailModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h4 class="modal-title note-heading"><span>New Email</span></h4>
            </div>
            <div class="modal-body" id="modalbody">
                @using (Html.BeginForm("SendDonorEmail", "Email", new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="control-label" style="padding-right:5px">Message Template:</label>
                        <select id="template"style="width:150px">
                            <option>None</option>
                            <option value="DonationReceived">Donation Received</option>
                            <option value="DonationDrive">Donation Drive</option>
                        </select>
                    </div>
                    <div class="row padBot">
                        <div class="form-group">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            @Html.LabelFor(m => m.Email.ToEmail, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.Email.ToEmail, new { @class = "col-md-10 form-control", @id="txtDonorEmail" })
                        </div>
                    </div>
                    <div class="row padBot">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email.Subject, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.Email.Subject, new { @class = "col-md-10 form-control", @id="emailSubject" })
                        </div>
                    </div>

                    <div class="row padBot">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email.Body, new { @class = "col-md-2 control-label" })
                            @Html.TextAreaFor(m => m.Email.Body, new { @class = "form-control", @id = "messageBody", cols = 120, rows = 5 })
                        </div>
                    </div>
                    <div class="row center">
                        <div class="form-group">
                            <button type="Submit" class="btn btn-primary register-button">Send</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<button type="button" class="btn btn-primary register-button" id="btnNewEmail">
    <i class="far fa-envelope"></i>
    &nbsp;Send Email
</button>

<hr />

<table id="DonationHistory" class="table table-condensed table-hover">
    <thead>
        <tr style="background-color:#e6e6e6 ">
            <th>Date</th>
            <th>Donation</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Donations)
        {
            <tr>
                <td><label>@item.DateAdded.ToString("dd MMM yyyy")</label></td>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.Description)</td>
                <td>@Html.DisplayFor(m => item.Quantity)</td>
                <td>@Html.DisplayFor(m => item.Category.Name)</td>
            </tr>
        }
    </tbody>

</table>
<br />
<hr />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#DonationHistory").DataTable();
        });
    </script>

    <script>       
        $(document).ready(function () {

            $('#btnNewEmail').click(function () {
                OpenEmailModal();
            })

            function OpenEmailModal() {
                $('#emailModal').modal();
                GetDonorEmail(donorID);
            }

            var donorName = $('#DonorName').html();
            var donorEmail = null;
            var donorID = $('#DonorID').val();

            var thankYouMessage = ' Dear ' + donorName + ', \n\n We have received your donation and it is greately appreciated! Your donation is going to help a student in need at the Nelson Mandela University.\n\n Thank you. \n\n Kind Regards,\n Heart Of Gold Administrator';
            var donationDriveMessage = ' Good day ' + donorName + ',\n\n We are currently experiencing a large amount of incoming requests from students for general donations. These students would gratefully appreciate absolutely any donation.\n\n Please contact me if theres anything you can do to assist.\n\n Kind Regards,\n Heart of Gold Administrator';

            $('#template').change(function () {
                if ($(this).val() == 'DonationReceived') {
                    $('#messageBody').val(thankYouMessage);
                    $('#emailSubject').val('Donation Received');
                } else if ($(this).val() == 'DonationDrive') {
                    $('#messageBody').val(donationDriveMessage)
                    $('#emailSubject').val('Donation Drive');
                };
            });

            function GetDonorEmail(id) {
                $.ajax({
                    type: 'GET',
                    url: '/Donors/GetEmail',
                    data: { 'DonorID': donorID },
                    success: function (data) {
                        donorEmail = data;
                        $('#txtDonorEmail').val(donorEmail);
                    }
                })

            }
        });
    </script>

    <script>

    </script>
}

