@model HeartOfGold.ViewModels.DonorViewModel

@{
    ViewBag.Title = "Donors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="DonorModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title note-heading"><span>New Donor</span></h4>
                <p class="lead center">Enter details about the donor</p>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddDonor", "Donors"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Donor.FirstName)
                        @Html.TextBoxFor(m => m.Donor.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Donor.FirstName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Donor.LastName)
                        @Html.TextBoxFor(m => m.Donor.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Donor.LastName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Donor.Email)
                        @Html.TextBoxFor(m => m.Donor.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Donor.Email)
                    </div>
                    <div class="row center" id="donorBtnRow">
                        <button type="Submit" class="btn btn-primary register-button">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<br />
<div class="center">
    <p class="lead" style="font-size:24px">Who's donated to us?</p>
    <hr />
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert alert-success center" role="alert">Note: Click on the name of a donor to view their donation history.</div>
        </div>
    </div>
</div>

<div class="row center">
    <button type="button" class="btn btn-primary register-button" data-toggle="modal" data-target="#DonorModal">
        <i class="fas fa-check"></i>&nbsp;New Donor
    </button>
</div>

    
<br />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table id="Donors" class="table table-bordered table-hover">
            <thead>
                <tr style="background-color:#e6e6e6 ">
                    <th>Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var donor in Model.Donors)
                {
                    <tr>
                        <td>@Html.ActionLink(donor.FullName, "History", "Donors", new { id = donor.Id }, null)</td>
                        <td>@Html.DisplayFor(m => donor.Email)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<hr />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#Donors").DataTable();
        })
    </script>

    @if (TempData["Saved"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true
                };
                toastr.success('Successfully added donor to the system.');
            });

        </script>
    }

}

