@model HeartOfGold.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("View Inventory", "Index", "Item")</li>
    <li class="active">View Item</li>
</ol>
<h3>View Item</h3>

<ul class="list-group">
    <li class="list-group-item">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </li>
    <li class="list-group-item">
    @Html.LabelFor(m => m.Category)
    @Html.TextBoxFor(m => m.Category.Name)
    </li>
    <li class="list-group-item">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
    </li>
    <li class="list-group-item">
        @Html.LabelFor(m => m.Quantity)
        @Html.TextBoxFor(m =>  m.Quantity)
    </li>
</ul>