@model HeartOfGold.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Donation Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Donation Inventory</h3>
<hr />

<p class="lead">Collection of donated items</p>


<div style="display:inline-block">
    <a href="@Url.Action("New", "Item", null)" class="btn btn-primary register-button">
        <i class="fas fa-check"></i>
        &nbsp;New Donation
    </a>
</div>

<div style="display:inline-block">
    @using (@Html.BeginForm("Index", "Item"))
    {      
        <div class="form-group">
            <label class="control-label">Start Date:</label>
            <div class="input-group date" id="From">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type="text" id="StartDate" class="form-control" />

            </div>
        </div>
        <div class="form-group">
            <label class="control-label">End Date:</label>
            <div class="input-group date" id="To">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input type="text" id="EndDate" class="form-control" />
            </div>
        </div>
        <div class="form-inline">
            <input type="submit" value="submit" />
        </div>
    }
</div>

<br />
<br />

<table id="Inventory" class="table table-condensed table-hover">
    <thead>
        <tr style="background-color:#e6e6e6 ">
            <th>Donate this?</th>
            <th>Donation</th>
            <th>Category</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Donated By</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Donations)
        {
            <tr>
                <td>@Html.ActionLink("Select", "Donate", "Item", new { id = item.Id }, null)</td>
                <td>@Html.ActionLink(item.Name, "Edit", "Item", new { id = item.Id }, null)</td>
                <td>@Html.DisplayFor(m => item.Category.Name)</td>
                <td>@item.Description</td>
                <td>@item.Quantity</td>
                <td>@Html.DisplayFor(m => item.Donor.FullName)</td>
                <td>@item.DateAdded.ToString("dd MMM yyyy")</td>
            </tr>
        }
    </tbody>
</table>


<br />
<hr />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui");
    @Scripts.Render("~/bundles/fullcalendar");

    <script>
        $(document).ready(function () {
            var table = $('#Inventory').DataTable({
                pageLength: 25
            });

            $('#From,#To').datetimepicker({
                format: 'DD/MM/YYYY A',
            })
        });
    </script>

    @if (TempData["Saved"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true
                };
                toastr.success('Successfully added donation item.');
            });

        </script>
    }

    else if (TempData["Updated"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true
                };
                toastr.success('Successfully updated donation item.');
            });
        </script>

    }

}

