@model HeartOfGold.ViewModels.InventoryViewModel

@{
    ViewBag.Title = "Donation Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Donation Inventory</h3>
<hr />

<p class="lead">Collection of donated items</p>

<a href="@Url.Action("New", "Item", null)" class="btn btn-primary register-button">
    <i class="fas fa-check"></i>
    &nbsp;New Donation
</a>

<br />
<br />

<table id="Inventory" class="table table-condensed table-hover">
    <thead>
        <tr style="background-color:#e6e6e6 ">
            <th>Donation</th>
            <th>Category</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Donated By</th>
            <th>Date Added</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Donations)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Edit", "Item", new { id = item.Id }, null)</td>
                <td>@Html.DisplayFor(m => item.Category.Name)</td>
                <td>@item.Description</td>
                <td>@item.Quantity</td>
                <td>@Html.DisplayFor(m => item.Donor.FullName)</td>
                <td>@Html.DisplayFor(m => item.DateAdded, "{0:dd/MM/yyyy}")</td>
            </tr>
        }
    </tbody>
</table>


<br />
<hr />

@section scripts
{
    <script>

        $(document).ready(function () {
            $("#Inventory").DataTable();
        })

        $('#Inventory').dataTable({
            "pageLength": 25
        });
    </script>

    @if (TempData["Saved"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true
                };
                toastr.success('Successfully added donation item.');
            });

        </script>
    }

    else if (TempData["Updated"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.options = {
                    "closeButton": true,
                    "progressBar": true
                };
                toastr.success('Successfully updated donation item.');
            });
        </script>

    }
    
}

