@model HeartOfGold.ViewModels.ItemFormViewModel
@{
    /**/

    ViewBag.Title = "New Donation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="row">
    <div class="col-md-5 col-sm-5 col-lg-5">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>
                    &nbsp;Home
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Item")">
                    <i class="fas fa-th-list"></i>
                    &nbsp;View Inventory
                </a>
            </li>
            <li class="active">
                <i class="far fa-save"></i>
                &nbsp;New Donation
            </li>
        </ol>
    </div>
</div>*@



<div class="container center">
    <h3>New Donation</h3>
    <hr />
    <p class="lead">Record a donation on the system</p>
</div>



    <div class="row">
        <div class="col-lg-5 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-offset-xs-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("Save", "Item", new { id = "inventory" }))
                    {
                        <div class="col-md-12 col-md-offset-1">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Item.Name, new { @class = "bold-text", @title = "Enter a name for this donation." })
                                @Html.TextBoxFor(m => m.Item.Name, new { @class = "form-control", @placeholder = "Provide a name for this donation" })
                                @Html.ValidationMessageFor(m => m.Item.Name)
                            </div>
                        </div>
                        <div class="col-md-12 col-md-offset-1">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Item.Description, new { @class = "bold-text", @title = "Enter a brief description of the donation." })
                                @Html.TextBoxFor(m => m.Item.Description, new { @class = "form-control", @placeholder = "Describe the donation briefly" })
                                @Html.ValidationMessageFor(m => m.Item.Description)
                            </div>
                        </div>
                        <div class="col-md-12 col-md-offset-1">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Item.DonorId, new { @class = "bold-text", @title = "Select the donor for this donation." })
                                @Html.DropDownListFor(m => m.Item.DonorId, new SelectList(Model.Donors, "Id", "FullName"), "Who was the donor?", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Item.DonorId)
                            </div>
                        </div>
                        <div class="col-md-12 col-md-offset-1">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Item.Quantity, new { @class = "bold-text", @title = "Provide a quantity of the items in the donation." })
                                @Html.TextBoxFor(m => m.Item.Quantity, new { @class = "form-control", @placeholder = "Indicate the quantity involved" })
                                @Html.ValidationMessageFor(m => m.Item.Quantity)
                            </div>
                        </div>
                        <div class="col-md-12 col-md-offset-1">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Item.CategoryId, new { @class = "bold-text", @title = "Select a type of category for this donation." })
                                @Html.DropDownListFor(m => m.Item.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "What type of donation is it?", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Item.CategoryId)
                                <br />
                            </div>
                            </div>

                            @Html.HiddenFor(m => m.Item.Id)
                            @Html.AntiForgeryToken()
                        <div class="col-md-12 center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary register-button">Save Donation</button>
                                @Html.ActionLink("Back to Inventory", "Index", "Item", null, new { @class = "btn btn-default" })
                                @*@Html.ActionLink("Remove", "Remove", "Item", null, new { @class = "btn btn-default", @id = Model.Item.Id })*@
                            </div>
                            </div>
                            }
                        </div>
                    </div>                
            </div>
        </div>


    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-offset-xs-0">

            <div class="alert alert-dismissible alert-success" id="Alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Successfully added donation.
            </div>

        </div>
    </div>

</div>


<hr />
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#Alert").hide();
        });
    </script>

    @if(ViewBag.Added != null)
    {
        <script>
            $(document).ready(function () {
                $("#Alert").show();
            });
        </script>
    }

    @*<script>
            $(document).ready(function () {
                $("#inventory .js-delete").on("click", function () {
                    if (confirm("Are you sure")) {
                        $.ajax({
                            url: "/api/donations/" + $(this).attr("data-donation-id"),
                            method: "POST",
                            success: function () {
                                console.log("Success");
                            }
                        });
                    }
                });
            });
        </script>*@
}


