@model HeartOfGold.ViewModels.RequestFormViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Submit Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@**
    Popup modal that displays the current inventory of Donations in order for the admin to designate items to the request being processed.
*@

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
        <div class="well">
            <h4 class="note-heading"><span>What do I need to know?</span></h4>
            <ol style="margin-top:2em">
                <li style="padding-left:1em">You are allowed to submit one request per day.</li>
                <li style="padding-left:1em">You have a total of three requests active at once.</li>
                <li style="padding-left:1em">Indicate clearly what you are looking for. Here is an example of a well-worded request: "I am looking for first year IT textbooks." </li>
                <li style="padding-left:1em">Remember to bring your student card when collecting a donation.</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">
        @using (Html.BeginForm("Save", "Request"))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default img-rounded">
                <div class="panel-heading">New Request</div>
                <div class="panel-body" id="request">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Request.StudentNumber, new { @class = "bold-text" })
                        @Html.TextBoxFor(m => m.Request.StudentNumber, new { @class = "form-control", @Value = User.Identity.GetUserName().Remove(0, 1), @readonly = "readonly" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Request.CategoryId, new { @class = "bold-text", @title = "Select a type of request" })
                        @Html.DropDownListFor(m => m.Request.CategoryId, new SelectList(Model.RequestCategories, "Id", "Name"), "What type of request is it?", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Request.CategoryId)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Request.Description, new { @class = "bold-text" })
                        @Html.TextAreaFor(m => m.Request.Description, new { @class = "form-control", @id = "ReqBody", cols = 200, rows = 3 })
                        @Html.ValidationMessageFor(m => m.Request.Description)
                    </div>

                    @Html.HiddenFor(m => m.Request.Id)
                    <label>Selecting <strong>Submit</strong> will log your request. An admin will get to it shortly. Please keep an eye on your <strong>My Requests</strong> page to track the status of your request.</label>
                    <div class="form-group center">
                        <button type="submit" class="btn btn-primary register-button">Submit</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<hr />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui");
    @Styles.Render("~/Content/themes/base/css")

    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>

    @if (TempData["Saved"] != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                toastr.success('Your request has been successfully logged.');
            });

        </script>
    }

    <script>
        $(document).ready(function () {
            $('#RepeatTooltip').tooltip({
                opacity: 0.7
            });
            if ($('#RepeatRequest').is(':checked')) {
                $('#datepicker').show();
            }
        })
    </script>
}


