@model IPagedList<HeartOfGold.Models.Request>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "View Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

@*<div class="center">
    <p class="lead" id="Req_Header">STUDENT REQUESTS</p>
    <hr />
</div>*@

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Search</div>
            <div class="panel body">
                @using (Html.BeginForm())
                {
                    <div class="form-group" id="searchFrmGrp">
                        <input type="submit" value="Search..." class="btn btn-primary register-button" id="srchBtn" />
                        @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Student number" })

                        @if (ViewBag.HasResults != null)
                        {
                            <label id="searchResults">@ViewBag.HasResults.ToString()</label>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<div class="row">

    @if (ViewBag.Results != null)
    {
    <div class="col-md-6 col-md-offset-3">
        <p>No requests for this student number found!</p>
    </div>

    }




    @foreach (var request in Model)
    {

        <div class="col-md-6 col-sm-10 col-md-offset-3 col-sm-offset-1 col-xs-12 col-offset-xs-0">
            <div class="panel panel-default">
                <div class="panel-heading">Student Number: @request.StudentNumber</div>
                <div class="panel-body">
                    @using (Html.BeginForm("ProcessRequest", "Request"))
                    {
                        <div class="form-group">
                            <label><strong>Request Body</strong></label>
                            @Html.TextAreaFor(r => request.Description, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            <label><strong>Current Status</strong></label>
                            @Html.TextBoxFor(r => request.RequestStatus.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            <label><strong>Date Submitted</strong></label>
                            @Html.TextBoxFor(r => request.Date, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        @Html.HiddenFor(r => request.Id)
                        @Html.HiddenFor(r => request.StudentNumber)
                        <div class="form-group">
                            <button type="submit" class="btn btn bg-primary register-button">Process...</button>
                        </div>

                        <div class="form-group">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => request.SelectedStatusId, "2")Successful
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => request.SelectedStatusId, "3")Unsuccessful
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>


<div class="row center">
    <div class="col-md-6 col-md-offset-3">
        <h5>Browse...</h5>
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfRequests, page => Url.Action("GetRequests", new { page = page }), PagedListRenderOptions.MinimalWithPageCountText)
    </div>
</div>

<hr />

@* -- Column 6/12 -- *@
@*<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Things to remember:</div>
            <div class="panel-body">
                <ol>
                    <li>You are allowed to submit one request per day.</li>
                    <li>Indicate clearly what you are looking for.</li>
                    <li>Remember to bring your student card when collecting a donation.</li>
                </ol>
            </div>
        </div>
    </div>*@
    
