@model IPagedList<HeartOfGold.Models.Request>
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "View Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="center">
    <h3>Student Requests</h3>
    <hr />
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel body" style="padding: 9px;">
                @using (Html.BeginForm())
                {
                    <label>Look into requests...</label>
                    <div class="form-group" id="searchFrmGrp">
                        <input type="submit" value="Search..." class="btn btn-primary register-button" id="srchBtn" />
                        @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Student number" })

                        @if (ViewBag.HasResults != null)
                        {
                            <label id="searchResults">@ViewBag.HasResults.ToString()</label>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    @if (ViewBag.Results != null)
    {
        <div class="col-md-6 col-md-offset-1">
            <p>No requests for this student number found!</p>
        </div>
    }

    @foreach (var request in Model)
    {
        <div class="col-md-6 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">Student Number: @request.StudentNumber</div>
                <div class="panel-body">
                    @using (Html.BeginForm("ProcessRequest", "Request"))
                    {
                        <div class="form-group">
                            <label class="fonta-weight">Request Body</label>
                            <div id="textArea">
                                @Html.TextAreaFor(r => request.Description, new { @class = "form-control", @readonly = "readonly", @id = "ReqBody", cols = 200, rows = 3 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="fonta-weight">Current Status</label>
                            @Html.TextBoxFor(r => request.RequestStatus.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            <label class="fonta-weight">Date Submitted</label>
                            @Html.TextBoxFor(r => request.Date, "{0:dd MMMM yyyy}", new { @class = "form-control", @readonly = "readonly" })
                            <hr style="margin-bottom:5px" />
                            <label><strong>Respond to this request:</strong></label>
                        </div>
                        @Html.HiddenFor(r => request.Id)
                        @Html.HiddenFor(r => request.StudentNumber)

                        <div class="form-group center">
                            @Html.ValidationMessageFor(m => request.SelectedStatusId, null, new { @class = "block"})
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => request.SelectedStatusId, "2")Successful
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(m => request.SelectedStatusId, "3")Unsuccessful
                            </label>
                        </div>
                        <div class="form-group center">
                            @Html.ActionLink("Allocate donation item...", "Index", "Item")
                        </div>

                        <div class="form-group center">
                            <button type="submit" class="btn btn bg-primary register-button">Process...</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="row center">
    <div class="col-md-6 col-md-offset-3">
        <h5 style="margin-bottom: 0px;">Browse...</h5>
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfRequests, page => Url.Action("GetRequests", new { page = page }), PagedListRenderOptions.MinimalWithPageCountText)
    </div>
</div>

<hr />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>


    </script>
}
