<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Heart of Gold</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>   
    @{ 
        if (User.IsInRole("Administrator"))
        {
            @Html.Partial("_AdminNavBar");
        }

        else
        {
            @Html.Partial("_NavBar");
        }
    }
    <div>
        <br />
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    <div class="hidden-sm hidden-xs">
        <div class="navbar navbar-inverse navbar-color navbar-fixed-bottom container-fluid" role="navigation">
            <div class="navbar-collapse collapse navbar-fontsize center">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Get in contact", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
