<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Heart of Gold</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-color" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("< Heart of Gold >", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
               
            </div>
            <div class="navbar-collapse collapse navbar-fontsize center" style="font-size:1.1em">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inventory", "Index", "Item")</li>
                    <li>@Html.ActionLink("Student Requests", "SubmitRequest", "Request")</li>
                    <li>@Html.ActionLink("Donors", "Index", "Donors")</li>
                    <li>@Html.ActionLink("Our Mission", "About", "Home")</li>
                    <li>@Html.ActionLink("Need help?", "ViewHelp", "Help")</li>
                    <li>@Html.ActionLink("Reporting", "Index", "Reports")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div>
        <br /> <br />
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>


    @*<div class="footer">
            <ul class="list-inline text-center">
                <li>@Html.ActionLink("Contact Us", "About", "Home")</li>
                <li>@Html.ActionLink("Need Help?", "ViewHelp", "Help")</li>
                <li>&copy; Developed by Dean Wiseman</li>
            </ul>
        </div>*@



    <div class="navbar navbar-inverse navbar-color footer-bottom">
        <div class="navbar-collapse collapse navbar-fontsize center">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Contact Us", "About", "Home")</li>
                <li>@Html.ActionLink("Need Help?", "ViewHelp", "Help")</li>
            </ul>
        </div>
    </div>


    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
